<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Employee Management</h1>
    <form action="/all-employee-list">
        <button type="submit">List of All Employees </button>
    </form>
<form action="/add-employee">
    <button type="submit">Add an Employee</button>
</form>
<form action="/search-by-employeeID">
    <button type="submit">Search Employee by ID</button>
</form>

</body>
</html>